body{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas{
    box-sizing: 10px 10px 10px rgb(110, 110, 255);
    border-radius: 10px;
}

